In [1]:
import pandas as pd

df = pd.read_csv("employees.csv", parse_dates = ["Start Date", "Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")

In [3]:
mask = df["Salary"].between(60000, 70000)

df[mask]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
1,Thomas,Male,1996-03-31,2020-11-07 06:53:00,61933,4.170,True,NaN
6,Ruby,Female,1987-08-17,2020-11-07 16:20:00,65476,10.012,True,Product
10,Louise,Female,1980-08-12,2020-11-07 09:01:00,63241,15.132,True,NaN
20,Lois,NaN,1995-04-22,2020-11-07 19:18:00,64714,4.934,True,Legal
41,Christine,NaN,2015-06-28,2020-11-07 01:08:00,66582,11.308,True,Business Development
47,Kathy,Female,2005-06-22,2020-11-07 04:51:00,66820,9.000,True,Client Services
57,Henry,Male,1996-06-26,2020-11-07 01:44:00,64715,15.107,True,Human Resources
59,Irene,Female,1997-05-07,2020-11-07 09:32:00,66851,11.279,False,Engineering
65,Steve,Male,2009-11-11,2020-11-07 23:44:00,61310,12.428,True,Distribution
74,Thomas,Male,1995-06-04,2020-11-07 14:24:00,62096,17.029,False,Marketing
88,Donna,Female,1991-11-27,2020-11-07 13:59:00,64088,6.155,True,Legal
101,Aaron,Male,2012-02-17,2020-11-07 10:20:00,61602,11.849,True,Marketing
107,Steven,Male,2013-04-23,2020-11-07 22:12:00,68680,16.565,False,Legal
112,Willie,Male,2003-11-27,2020-11-07 06:21:00,64363,4.023,False,Marketing
127,William,Male,2002-09-29,2020-11-07 16:09:00,66521,5.830,False,Human Resources
129,Antonio,Male,1988-10-25,2020-11-07 13:50:00,60866,13.101,True,Business Development
159,James,NaN,1983-11-22,2020-11-07 22:52:00,68501,14.316,False,Marketing
179,Jessica,Female,1995-10-23,2020-11-07 05:53:00,68759,19.343,True,Finance
196,Steven,Male,1985-11-10,2020-11-07 10:53:00,62719,19.127,False,Client Services
197,Carolyn,Female,2012-11-06,2020-11-07 03:51:00,69268,3.031,False,Client Services
225,Harry,Male,2015-10-01,2020-11-07 19:47:00,64579,15.266,True,Sales
231,Diane,Female,1993-04-18,2020-11-07 03:22:00,64084,17.018,False,Product
239,Lillian,NaN,2016-05-12,2020-11-07 15:43:00,64164,17.612,False,Human Resources
262,Anne,Female,1986-07-16,2020-11-07 14:08:00,69134,3.723,True,Engineering
285,Judy,Female,1997-09-16,2020-11-07 00:10:00,65931,2.304,False,Human Resources
286,Todd,Male,1984-02-02,2020-11-07 10:13:00,69989,10.985,True,Finance
288,Walter,NaN,1999-12-21,2020-11-07 22:33:00,66757,18.099,False,Distribution
310,Harold,Male,1990-02-20,2020-11-07 23:00:00,66775,2.158,True,Legal
320,NaN,Female,2008-07-08,2020-11-07 23:40:00,62960,14.356,True,Sales
325,Russell,Male,2005-01-02,2020-11-07 01:48:00,60388,17.885,False,Client Services
...,...,...,...,...,...,...,...,...
580,Harry,Male,1985-01-27,2020-11-07 20:18:00,65482,18.089,False,NaN
597,Teresa,Female,1987-06-24,2020-11-07 19:37:00,69740,8.294,False,Distribution
612,Julie,NaN,2000-10-21,2020-11-07 01:15:00,60361,7.099,True,Distribution
613,Teresa,NaN,1992-01-03,2020-11-07 15:47:00,63103,11.378,False,Finance
614,Eric,Male,2004-11-12,2020-11-07 21:16:00,65168,11.513,False,Distribution
618,Peter,Male,1992-11-24,2020-11-07 17:43:00,69297,1.268,False,Finance
654,Carl,Male,1984-12-14,2020-11-07 20:49:00,63395,11.411,False,Legal
668,James,Male,2001-12-05,2020-11-07 07:06:00,67789,17.105,True,Legal
677,Jacqueline,Female,1994-09-20,2020-11-07 18:07:00,62371,15.770,True,Client Services
679,Lori,Female,2002-09-11,2020-11-07 07:36:00,66029,3.345,True,Client Services
704,Thomas,Male,1991-09-07,2020-11-07 09:51:00,65251,11.211,False,Distribution
709,NaN,Male,1995-04-07,2020-11-07 04:32:00,60411,12.048,True,Human Resources
719,John,Male,1999-01-29,2020-11-07 03:07:00,67165,13.001,False,Engineering
730,Nicole,Female,2009-04-26,2020-11-07 00:40:00,66047,18.674,True,Marketing
742,Martin,Male,2016-02-25,2020-11-07 18:29:00,61117,2.844,False,Client Services
745,James,Male,2008-02-16,2020-11-07 02:49:00,69111,14.625,True,Business Development
747,Ernest,Male,2001-06-30,2020-11-07 13:46:00,61181,16.559,False,Business Development
825,Robert,NaN,2000-12-04,2020-11-07 01:20:00,69267,5.890,True,Sales
831,Kenneth,Male,2015-01-15,2020-11-07 14:41:00,69112,7.588,True,Finance
854,Harry,Male,1985-02-10,2020-11-07 19:46:00,63046,10.411,False,Finance
892,Brandon,Male,1995-10-23,2020-11-07 12:04:00,60263,2.709,False,Sales
909,Donald,Male,1991-08-01,2020-11-07 02:25:00,61999,6.466,False,Product
924,Deborah,Female,2003-11-11,2020-11-07 16:53:00,60003,9.624,False,Client Services
937,Aaron,NaN,1986-01-22,2020-11-07 19:39:00,63126,18.424,False,Client Services
943,Wayne,Male,2006-09-08,2020-11-07 11:09:00,67471,2.728,False,Engineering
965,Catherine,Female,1989-09-25,2020-11-07 01:31:00,68164,18.393,False,Client Services
970,Alice,Female,1988-09-03,2020-11-07 20:54:00,63571,15.397,True,Product
974,Harry,Male,2011-08-30,2020-11-07 18:31:00,67656,16.455,True,Client Services
978,Sean,Male,1983-01-17,2020-11-07 14:23:00,66146,11.178,False,Human Resources
998,Larry,Male,2013-04-20,2020-11-07 16:45:00,60500,11.985,False,Business Development

In [4]:
mask1 = df["Bonus %"].between(2.0, 5.0)
df[mask1]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
1,Thomas,Male,1996-03-31,2020-11-07 06:53:00,61933,4.170,True,NaN
20,Lois,NaN,1995-04-22,2020-11-07 19:18:00,64714,4.934,True,Legal
40,Michael,Male,2008-10-10,2020-11-07 11:25:00,99283,2.665,True,Distribution
49,Chris,NaN,1980-01-24,2020-11-07 12:13:00,113590,3.055,False,Sales
60,Paula,NaN,2005-11-23,2020-11-07 14:01:00,48866,4.271,False,Distribution
61,Denise,Female,2001-11-06,2020-11-07 12:03:00,106862,3.699,False,Business Development
66,Nancy,Female,2012-12-15,2020-11-07 23:57:00,125250,2.672,True,Business Development
69,Irene,NaN,2015-07-14,2020-11-07 16:31:00,100863,4.382,True,Finance
72,Bobby,Male,2007-05-07,2020-11-07 10:01:00,54043,3.833,False,Product
73,Frances,Female,1999-04-04,2020-11-07 16:19:00,90582,4.709,True,Sales
79,Bonnie,Female,1988-11-13,2020-11-07 15:30:00,115814,4.990,False,Product
85,Jeremy,Male,2008-02-01,2020-11-07 08:50:00,100238,3.887,True,Client Services
106,Paul,Male,1993-08-04,2020-11-07 19:25:00,42146,3.046,False,Legal
112,Willie,Male,2003-11-27,2020-11-07 06:21:00,64363,4.023,False,Marketing
113,Tina,Female,2009-06-12,2020-11-07 07:16:00,114767,3.711,True,Engineering
115,Pamela,Female,1982-07-01,2020-11-07 06:51:00,54585,4.166,False,Product
124,Marilyn,Female,1983-11-16,2020-11-07 08:29:00,76078,2.401,True,Product
133,Lois,Female,1987-12-25,2020-11-07 16:16:00,106317,2.235,True,Client Services
134,Carolyn,Female,2011-04-09,2020-11-07 05:38:00,109260,2.650,True,Business Development
146,Patricia,Female,1992-11-25,2020-11-07 02:24:00,95322,4.150,False,Product
147,Philip,Male,2008-07-17,2020-11-07 13:30:00,89227,3.996,False,Legal
173,Lillian,Female,2008-12-21,2020-11-07 18:51:00,85446,3.959,True,Engineering
183,Ruth,NaN,1999-05-18,2020-11-07 05:56:00,98233,2.518,True,Distribution
193,Rebecca,Female,1995-02-18,2020-11-07 06:50:00,109259,4.443,True,Legal
197,Carolyn,Female,2012-11-06,2020-11-07 03:51:00,69268,3.031,False,Client Services
203,Diana,Female,2013-01-04,2020-11-07 07:53:00,103521,2.784,True,Business Development
204,Willie,Male,2006-06-06,2020-11-07 09:45:00,55281,4.935,True,Marketing
208,Jonathan,Male,1987-10-12,2020-11-07 02:59:00,141069,4.903,False,Human Resources
214,Julie,Female,1989-07-23,2020-11-07 13:52:00,109588,3.550,False,Engineering
215,Mary,Female,2009-05-30,2020-11-07 23:41:00,92544,3.800,False,Client Services
...,...,...,...,...,...,...,...,...
824,Julia,Female,2014-08-18,2020-11-07 03:12:00,97566,2.147,False,Marketing
829,Johnny,Male,2007-01-14,2020-11-07 14:54:00,71383,2.097,True,Human Resources
834,Carl,NaN,1982-02-11,2020-11-07 07:54:00,49325,2.071,True,Business Development
835,Douglas,Male,2007-08-04,2020-11-07 05:23:00,132175,2.280,False,Engineering
840,Lillian,Female,2002-08-26,2020-11-07 08:53:00,103854,4.924,True,Distribution
847,Nicole,NaN,1981-05-02,2020-11-07 12:03:00,41449,4.707,False,Finance
848,Bobby,Male,1984-06-05,2020-11-07 07:40:00,93368,2.880,True,Product
855,Phillip,NaN,2003-10-20,2020-11-07 11:09:00,89700,2.277,True,NaN
871,Gerald,Male,2003-03-29,2020-11-07 10:37:00,96329,2.469,True,Engineering
873,Jason,Male,1998-05-01,2020-11-07 18:05:00,75607,4.299,True,Sales
874,Melissa,Female,1994-09-08,2020-11-07 04:11:00,98858,3.525,True,Human Resources
892,Brandon,Male,1995-10-23,2020-11-07 12:04:00,60263,2.709,False,Sales
896,Victor,Male,2010-03-10,2020-11-07 17:01:00,45267,3.942,True,Sales
905,Alice,Female,2013-02-09,2020-11-07 00:49:00,121250,4.363,True,Finance
908,Janice,Female,2009-12-17,2020-11-07 06:42:00,102697,3.283,False,Engineering
922,Arthur,Male,2013-12-05,2020-11-07 08:44:00,86615,3.412,True,Business Development
923,Irene,NaN,1991-02-28,2020-11-07 22:23:00,135369,4.380,False,Business Development
928,Jeffrey,Male,1986-09-20,2020-11-07 06:06:00,111376,2.673,True,Business Development
930,Nancy,Female,2001-09-10,2020-11-07 23:57:00,85213,2.386,True,Marketing
931,Harold,Male,2012-06-23,2020-11-07 12:40:00,140444,3.771,False,Distribution
932,Bonnie,Female,2008-12-23,2020-11-07 09:26:00,90427,2.010,True,Client Services
933,Doris,Female,1993-07-05,2020-11-07 17:54:00,141439,3.799,False,Business Development
934,Samuel,Male,1997-08-07,2020-11-07 12:40:00,43694,3.787,True,Engineering
938,Mark,NaN,2006-09-09,2020-11-07 12:27:00,44836,2.657,False,Client Services
939,Ralph,NaN,1995-07-28,2020-11-07 18:53:00,70635,2.147,False,Client Services
943,Wayne,Male,2006-09-08,2020-11-07 11:09:00,67471,2.728,False,Engineering
961,Antonio,NaN,1989-06-18,2020-11-07 21:37:00,103050,3.050,False,Legal
976,Denise,Female,1992-10-19,2020-11-07 05:42:00,137954,4.195,True,Legal
989,Justin,NaN,1991-02-10,2020-11-07 16:58:00,38344,3.794,False,Legal
994,George,Male,2013-06-21,2020-11-07 17:47:00,98874,4.479,True,Marketing

In [6]:
mask3 = df["Start Date"].between ("1991-01-01", "1992-01-01")
df[mask3]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
27,Scott,NaN,1991-07-11,2020-11-07 18:58:00,122367,5.218,False,Legal
75,Bonnie,Female,1991-07-02,2020-11-07 01:27:00,104897,5.118,True,Human Resources
88,Donna,Female,1991-11-27,2020-11-07 13:59:00,64088,6.155,True,Legal
116,NaN,Male,1991-06-22,2020-11-07 20:58:00,76189,18.988,True,Legal
148,Patrick,NaN,1991-07-14,2020-11-07 02:24:00,124488,14.837,True,Sales
166,NaN,Female,1991-07-09,2020-11-07 18:52:00,42341,7.014,True,Sales
172,Sara,Female,1991-09-23,2020-11-07 18:17:00,97058,9.402,False,Finance
220,NaN,Female,1991-06-17,2020-11-07 12:49:00,71945,5.560,True,Marketing
245,Victor,Male,1991-04-11,2020-11-07 07:44:00,70817,17.138,False,Engineering
277,Brenda,NaN,1991-05-29,2020-11-07 06:32:00,82439,19.062,False,Sales
313,Judy,Female,1991-07-01,2020-11-07 02:33:00,109510,13.457,True,Legal
328,Samuel,Male,1991-12-19,2020-11-07 02:54:00,76076,5.319,True,Finance
339,Michael,Male,1991-11-22,2020-11-07 12:57:00,98753,16.443,True,Human Resources
537,Cynthia,Female,1991-09-14,2020-11-07 13:08:00,51633,13.472,True,Business Development
552,Barbara,Female,1991-09-02,2020-11-07 15:41:00,127297,11.905,True,Product
603,Carl,NaN,1991-10-26,2020-11-07 08:11:00,100888,12.490,True,Business Development
639,Amanda,NaN,1991-08-11,2020-11-07 14:15:00,46665,19.391,True,Client Services
704,Thomas,Male,1991-09-07,2020-11-07 09:51:00,65251,11.211,False,Distribution
725,Jeremy,Male,1991-05-19,2020-11-07 13:40:00,131513,1.876,True,Finance
766,Justin,Male,1991-07-25,2020-11-07 00:45:00,112975,9.699,False,Human Resources
771,Peter,Male,1991-05-22,2020-11-07 01:39:00,102577,12.026,True,Product
783,NaN,NaN,1991-04-15,2020-11-07 03:39:00,132505,13.592,True,Product
891,Timothy,Male,1991-08-25,2020-11-07 10:37:00,92587,8.475,False,Finance
895,Janice,NaN,1991-11-19,2020-11-07 18:02:00,139791,16.968,False,Business Development
909,Donald,Male,1991-08-01,2020-11-07 02:25:00,61999,6.466,False,Product
923,Irene,NaN,1991-02-28,2020-11-07 22:23:00,135369,4.380,False,Business Development
989,Justin,NaN,1991-02-10,2020-11-07 16:58:00,38344,3.794,False,Legal