In [1]:
import pandas as pd
bond= pd.read_csv("Bond.csv", index_col = "Film")

bond.sort_index(inplace = True)

bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [2]:
bond.sample()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0

In [4]:
bond.sample(n=3, axis=0)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0

In [5]:
bond.sample(n=3, axis = 1)

                                 Bond Actor Salary           Actor  Year
Film
A View to a Kill                               9.1     Roger Moore  1985
Casino Royale                                  3.3    Daniel Craig  2006
Casino Royale                                  NaN     David Niven  1967
Diamonds Are Forever                           5.8    Sean Connery  1971
Die Another Day                               17.9  Pierce Brosnan  2002
Dr. No                                         0.6    Sean Connery  1962
For Your Eyes Only                             NaN     Roger Moore  1981
From Russia with Love                          1.6    Sean Connery  1963
GoldenEye                                      5.1  Pierce Brosnan  1995
Goldfinger                                     3.2    Sean Connery  1964
Licence to Kill                                7.9  Timothy Dalton  1989
Live and Let Die                               NaN     Roger Moore  1973
Moonraker                                      NaN     Roger Moore  1979
Never Say Never Again                          NaN    Sean Connery  1983
Octopussy                                      7.8     Roger Moore  1983
On Her Majesty's Secret Service                0.6  George Lazenby  1969
Quantum of Solace                              8.1    Daniel Craig  2008
Skyfall                                       14.5    Daniel Craig  2012
Spectre                                        NaN    Daniel Craig  2015
The Living Daylights                           5.2  Timothy Dalton  1987
The Man with the Golden Gun                    NaN     Roger Moore  1974
The Spy Who Loved Me                           NaN     Roger Moore  1977
The World Is Not Enough                       13.5  Pierce Brosnan  1999
Thunderball                                    4.7    Sean Connery  1965
Tomorrow Never Dies                           10.0  Pierce Brosnan  1997
You Only Live Twice                            4.4    Sean Connery  1967